[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.emptyMessage {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}

li {
    margin-bottom: 7px;
    font-size: 1.2em;
}

li > button {
    margin-left: 6px;
}

button > span {
    color: green;
}

.add-new-section{
    border-top: 1px solid gray;
    padding: 20px 0;
}